.calenderOutermostDiv{
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* border-style: solid; */
    background-color: #222b5d;
    flex-wrap: wrap;
    font-family: 'Raleway', sans-serif;
}

.mainCalendarPageDiv{
    /* border-style: solid; */
    /* border-color: red; */
    width: 85vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-wrap: wrap;
}

.dateDataDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:white;
    color:black;
    padding: 20px;
    border-radius: 10px;
    transition: all 0.5 ease-in-out;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-style: solid;
    border-color: green;
    border-width: 0px;
}

.maindateDivWrapper{
    border-style: solid;
    justify-content: center;
    background-color: #244eae;
    padding: 25px;
    border-radius: 20px;
    border-color: blue;
}

.inputMonthStyle{
    width: 100%;
    color: white;
    outline:none;
    background-image: linear-gradient(to top right,rgb(107, 107, 245),rgb(109, 255, 255));
    border-radius: 5px;
    outline: none;
}

#month-label{
    color: white;
}

.dateDataCalendarTile{
    margin-top: 30px;
}


#month-select{
    outline: none;
}

.dateTimeDataTile{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-style: solid; */
    text-align: center;
    /* border-color: red; */
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 1vw;
    border-radius: 20px;
    background-image: linear-gradient(to top right,rgb(17, 167, 17),rgb(111, 250, 111));
    color: white;
}

.pinkDateDiv{
    border-radius: 20px;
    background-image: linear-gradient(to top right,purple,pink);
    justify-content: center;
    margin-top: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-right: 20px;
}

.pinkDateDiv h2{
    margin-bottom: 1vw;
}

.orangeTimeeDiv{
    border-radius: 20px;
    background-image: linear-gradient(to top right,rgb(255, 115, 0),rgb(252, 206, 121));
    justify-content: center;
    margin-top: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-right: 20px;
    padding-bottom: 1vw;
}

.dateDataMapDiv{
    max-height: 15vw;
    overflow-y: auto;
    padding: 10px;
}