.DashBoard{
    display: flex;
    flex-direction: column;
    background-color: #222b5d;
    justify-content: center;
    align-items: center;
    /* border-style: solid; */
    /* border-color: red; */
    width: 85vw;
    font-family: 'Raleway', sans-serif;
}
.DashBoardWrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content:space-between;
    width: 90%;
    height: 92.3vh;
    border-radius: 1rem;
    color: white;
    /* border-style: solid; */
}

.DashBoardHeader{
    display: flex;
    flex-direction: row;
    align-items: center;    
    justify-content: space-between;
    width: 100%;
    /* border: 1px solid black; */
    height: 7%;
    border-radius: 1rem;
}

.DashBoardHeader img{
    height: 70%;
    border-radius: 50%;
}

.OperationCardsWrapper{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* border: 1px solid black; */
    height: 17%;
    border-radius: 1rem;
    /* margin-bottom: 5vw; */
    margin-top: 1vw;
}
.GraphWrapper{
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    height: 44%;
    align-items: center;
    border-radius: 1rem;
    background-color: #34448b;
    /* margin-bottom: 1.3%; */
}

.GraphContainerHeader{
    display: flex;
    width: 97%;
    /* align-items:baseline; */
    height: fit-content;
    margin-top: 0.8%;
    align-items: start;
    justify-content: space-between;
}


.GraphContainerHeader h3{
    width: 43%;
}

/* .GraphContainerHeader button{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    font-size:medium;
    padding-bottom: 4px;
    border-radius:0.2rem;
    background-color: #3c3d43;
    border: none;
    margin-left: 2px;
    cursor: pointer;
    color: white;
} */

.MainGraphContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 95%;
}

.BottomGraphs{
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
    width: 100%;
    height: 30%;
    margin-bottom: 1.3%;
}

.symptomsWrapper{
    width: 45%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.graphControllButtons{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: start;
    /* width: ; */
}
.graphControllButtons button{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    font-size:medium;
    padding-bottom: 10px;
    border-radius:0.5rem;
    /* background-color: #3c3d43; */
    border: none;
    margin-bottom: 18%;
    cursor: pointer;
    /* align-items: start; */
    color: white;
    box-shadow: 20px 20px 60px #00000041,insert -20px -20px 60px #ffffff40;
    width: 100%;
}