.sideBarMainDiv{
    border-style: solid;
    border-width: 0px;
    /* border-color: red; */
    background-color: #34448b;
    width: 30vh;
    margin-right: 5vh;
    position: absolute;
    height: 100vh;
}

.sideBarBottom{
    position: absolute;
    left: 0;
    bottom: 0;
}